* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

.inside {
	float: right;
	background-color: blue;
	border: 1px solid black;
	font-weight: bold;
	
	}
#all{

	width: 100%;

}

h1{
	text-align: center;
	margin-bottom: 15px;
}
/* Large devices */
@media (min-width: 1200px){

.lote {
	background-color: grey;
	height: 200px;
	border: 1px solid black; 
	width: 32.50%;
	overflow: auto;
	float: left;
	margin: 5px;
	padding: 1px;
	}
}
/*medium devices */
@media (min-width: 768px) and (max-width: 1199px){

.lote {
	background-color: grey;
	height: 200px;
	border: 1px solid black; 
	width: 47%;
	overflow: auto;
	float: left;
	margin: 5px;
	padding: 1px;
	}

#abajo {

	background-color: grey;
	height: 200px;
	border: 1px solid black; 
	width: 95%;
	overflow: auto;
	float: left;
	margin: 5px;
	padding: 1px;
	
	}

}
/*small devices*/
@media (max-width: 767px){

.lote {
	background-color: grey;
	height: 220px;
	border: 1px solid black; 
	width: 315px;
	overflow: auto;
	margin: 5px;
	padding: 1px
	
	}

}
